/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/uploads
!/web/uploads/images/places/piton.jpg
!/web/uploads/images/places/anse.jpg
!/web/uploads/images/places/kazinso.jpg
!/web/uploads/images/places/stella.jpg
!/web/uploads/images/places/chaudron.jpg
!/web/uploads/images/places/grand-tour.jpg
