
{% extends "::base.html.twig" %}

{% block body %}
{% block nav %}
<nav class="black lighten-1 navbar-fixed">
  <div class="nav-wrapper">
    <a href="#">
      <!-- <img class="brand-logo" src="media/img/fm-logo.png"> -->
      3x
    </a>
    <a class="brand-logo left animated jackInTheBox">Advisor</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#photos">connexion</a></li>
    </ul>
  </div>
</nav>
{% endblock %}
{% endblock %}
