{% extends '::base.html.twig' %}

{% block body %}
<div class="row center">
  <h5>Ajouter un nouveau lieu</h5>
</div>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}





{% endblock %}
