{% extends '::base.html.twig' %}

{% block body %}
<div class="row">
  <div class="center">
    <h5>Mes 3 catégories préférés :</h5>
  </div>

</div>

{{ form_start(edit_form) }}
{{ form_widget(edit_form) }}
{{ form_end(edit_form) }}





{% endblock %}
