{% extends '::base.html.twig' %}

{% block body %}

<div class="row">
  <div class="center">
    <h5>Mes 3 catégories préférés :</h5>
  </div>
</div>

      {{ form_start(form) }}
          {{ form_widget(form) }}
      {{ form_end(form) }}


{% endblock %}
