/* FOSUserBundle error */
.error{
  color: red!important;
}

/* NAVBAR */
nav ul a {
  padding: 0 40px!important;
}

#dropdown1 {
  top: 64px!important;
}

.dropdown-content li>a, .dropdown-content li>span{
  padding: 14px 16px!important;
}

.nav-wrapper .brand-logo img {
  height: auto !important;
  margin-top: -6px;
  margin-left: 10px;
}

body{
  /* background-image:url('../images/background2.png'); */
  background-repeat: repeat;
  /* background-size: 10%; */
}

.nav-content a {
  color: #00b8d4!important;
}


.nav-content a:hover{
  color: black!important;
}


.slider .shadow {
  text-shadow: black 1px 2px;
}


.btn, .btn-large {
  background-color: #00b8d4!important;

}

.place_description{
  /* border:1px solid black; */
}

.card .card-image .card-title{
  padding:5px!important;
}

.card .card-content .card-title{
  font-weight: 400;
}
.collapsible-header{
  font-weight: 500!important;
}
/* .card-content .chip{
font-size: 10px!important;
} */

.card-action a{
  color: #00b8d4!important;
}
.card-action :hover{
  color: black!important;
}

.tabs.tabs-transparent .tab a.active {
    color: #000!important;
}
