/* FOSUserBundle error */
.error{
  color: red!important;
}

/* NAVBAR */
nav ul a {
  padding: 0 40px!important;
}

#dropdown1 {
  top: 64px!important;
}

.dropdown-content li>a, .dropdown-content li>span{
  padding: 14px 16px!important;
}

.nav-wrapper .brand-logo img {
    height: auto !important;
    margin-top: -6px;
    margin-left: 10px;
}

body{
  /* background-image:url('../images/background2.png'); */
  background-repeat: repeat;
  /* background-size: 10%; */
}

.nav-content a {
  color: #00b8d4!important;
}


.nav-content a:hover{
  color: black!important;
}
